@media (max-width: 992px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        position: relative;
    }
    .header-text-container{
        height: calc(80vh - 60px);
        width: 100%;
        background-image: url('/desk-welcome-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: start;

        text-align: center;
        background-size: cover;
    }
    .header-text{
        margin-top: 25px;
    }
    .header-title{
        font-size: 1.6rem;
        font-weight: 600;
        color: #4B6565;
        z-index: 1;
        position: relative;
    }
    .header-subtitle{
        color: #4B6565;
        font-weight: 400;
        font-size: 1.3rem;
        z-index: 1;
        position: relative;
    }
    
    .header-cta-container{
        height: 300px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cta-button-container{
        margin-top: 20px;
    }
    .cta-button{
        background-color: #4B6565;
        border-radius: 20px;
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 45px;
        outline-width: 0;
        border: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        font-weight: 400;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    }
    .testimony-container{
        margin-top: 55px;
        max-width: 90%;
    }
    .testimony{
        font-family: 'Lemonada', cursive;
        font-size: 1.05rem;
        font-weight: 300;
        color: #474444;
    }
    
}
.mob-gradient-bg{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
@media (min-width: 992px){
    .header{
        display: none;
    }
}

@media (min-width: 641px){
    .header-text-container{
        background-image: url('/desk-welcome-bg.png');
    }
}
@media (max-width: 640px){
    .header-text-container{
        background-image: url('/image-responsive.jpg');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 520px){
    .header-text-container{
        background-image: url('/w-520.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 480px){
    .header-text-container{
        background-image: url('/w-480.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 460px){
    .header-text-container{
        background-image: url('/w-460.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 420px){
    .header-text-container{
        background-image: url('/w-420.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 380px){
    .header-text-container{
        background-image: url('/w-380.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 360px){
    .header-text-container{
        background-image: url('/w-360.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 320px){
    .header-text-container{
        background-image: url('/w-320.png');
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 280px){
    .header-text-container{
        background-image: url('/w-280.png');
        background-size: cover;
        background-position: center;
    }
}