@media (max-width: 992px){
.main{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img{
    width: 90%;
    object-fit: cover;
}

.about-text-container{
    margin-top: 30px;
}
.about-text-title{
    color: #4B6565;
    font-weight: 500;
    font-size: 1.2rem;
}
.about-text-paragraph{
    color: #474444;
    font-size: 1.05rem;
    font-weight: 300;
}
}
@media screen and (min-width: 380px) and (max-width: 768px){
    .about-text-title{
        font-size: 1.2rem;
    }
    .about-text-paragraph{
        font-size: 1.1rem;
    }
}
@media (min-width: 992px){
    .main{
        display: none;
    }
}